@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[35px] md:text-[45px] lg:text-[70px] font-bold tracking-[0.095em];
  }

  h2 {
    @apply font-semibold text-[24px] lg:text-[32px] tracking-[0.095em];
  }

  h3 {
    @apply text-[18px] lg:text-[20px] font-semibold tracking-[0.095em];
  }

  h4 {
    @apply text-[16px] font-medium text-fresh-grey tracking-[0.095em];
  }

  p {
    @apply text-[14px] font-normal;
  }

  input, textarea {
    @apply px-3 py-2 rounded-[5px] text-[20px] text-black;
  }

  label {
    @apply text-[20px] font-semibold tracking-[0.095em] pb-1;
  }

  ul li a span {
    @apply text-fresh-red;
}
}

@layer components {
  .button-standard {
    @apply rounded border-4 border-solid bg-none px-4 py-3 font-semibold text-base md:text-xl;
  }

  .red-btn {
    @apply bg-fresh-red py-2 px-4 rounded text-white;
  }

  .sect {
    @apply pt-[70px] px-7 flex flex-col md:pt-[80px] md:pb-[60px] lg:pt-[0px] lg:px-7 lg:h-screen lg:min-h-[912px] lg:overflow-y-scroll lg:justify-center xl:px-14 xl:pt-7;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}
